
title {
  color:red;
  text-align:center;
  font-family:sans-serif;
}

h1 {
  color:red;
  text-align:center;
  font-family:Times;
}

h2 {
  color:red;
  text-align:center;
  font-family:Impact;
  font-style:italic;
}

ol {
  font-size:20px;
  line-height:30px;
  font-family:arial;
}
